@font-face {
    font-family: Cantarell;
    src: url('/src/assets/fonts/Cantarell.ttf') format('truetype');
}

@font-face {
    font-family: Adventure;
    src: url('/src/assets/fonts/Adventure.otf') format('opentype');
}

.cantarell {
    font-family: Cantarell, Arial, sans-serif;
}

.adventure {
    font-family: Adventure, Arial, sans-serif;
}


/* Define the fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the fade-in animation to all elements */
* {
    animation: fade-in 1s ease-out;
}


html {
    scroll-behavior: smooth;
}

.icons {
    color: white;
}

.icons :hover {
    color: #FFFF00;
}